[Desktop Entry]
Name=RGB Orchestration
Comment=Launch the RGB Orchestration Suite
Exec=rgbgui
Icon=rgb_controller_splash
Terminal=false
Type=Application
Categories=Utility;Graphics;
